<?php if (!isset($redirect)) { ?>
                        <div class="total-row">
      <?php foreach ($vouchers as $voucher) { ?>
        <span class="text"><?php echo $voucher['description']; ?></span>
        <span class="text">1</span>
        <span class="text"><?php echo $voucher['amount']; ?></span>
        <span class="text"><?php echo $voucher['amount']; ?></span>
      <?php } ?>
</div>
      <?php foreach ($totals as $total) { ?>
       <div class="total-row"><span class="text"><?php echo $total['title']; ?>:</span> <span class="cost"><span class="text-red sum"><?php echo $total['text']; ?></span></div>
      <?php } ?>
                        <?php echo $payment; ?>

<?php } else { ?>
<script type="text/javascript"><!--
location = '<?php echo $redirect; ?>';
//--></script>
<?php } ?>
