<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
<div class="pull-right"> <a href="<?php echo $products; ?>" data-toggle="tooltip" title="<?php echo $button_products; ?>" class="btn btn-primary"><?php echo $button_products; ?></a></div>
    <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
<div>
 <form method="post" class="clean" name="clean">
Вы уверены что хотите удалить товары и ошибки?
<input type="submit" value="Удалить" name="clean"/>
</form>
 <form method="post" class="clean" name="cleanman">
Вы уверены что хотите удалить производителей?
<input type="submit" value="Удалить" name="cleanman"/>
</form>
</div>
    </div>
  </div>
</div>      
<?php echo $footer; ?>
